@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: futurak;
    src: url(../assets/fonts/futurak.ttf);
}

@font-face{
    font-family: butler;
    src: url(../assets/fonts/Butler_Regular.otf);
}
@font-face{
    font-family: apercu;
    src: url(../assets/fonts/Apercu\ Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

h3, h4 {
    font-size: 32px;
}

/* navbar started */
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;

}
.menu-div {
    display: none;
}

.menu-icon {
    font-size: 25px;
}

.logo-img {
    width: 165px;
}

.nav-items {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.nav-items a {
    text-decoration: none;
    color: white;
}

.franchise-btn {
    background-color: transparent;
    color: white;
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 14px;
}
.order-btn {
    background-color: red;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
}

.arrow-icon {
    color: red;
}

.arrow-span {
    padding: 5px 8px;
    background-color: white;
    border-radius: 50%;
}

/* navber ended  */

/* intro section started  */
.butler-font {
    font-family: butler;

}

.intro-div {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding: 0 80px;
}
.intro-heading {
    font-size: 40px;
    text-align: center;

}

.intro-para {
    color: #ffffffb3;
    font-family: apercu;
    font-size: 16px;
    text-align: center;
}
/* intro section ended  */

/* restaurant section started  */
.lahore-restaurant-container {
    margin-top: 60px;
    padding: 0 80px;
}
.lahore-rest-heading {
    text-align: center;
    font-size: 32px;
    font-weight: 300px;
    font-style: normal;
    margin-bottom: 10px;
}

.lahore-rest-para {
    text-align: center;
    font-size: 16px;
    color: #ffffffb3;
}

.futurak-font {
    font-family: futurak;
    font-size: 32px;
}

.butler-font {
    font-family: butler;
    font-size: 32px;
}
.lahore-restaurant {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.lahore-restaurant div {
    width: 40%;
}

.lahore-restaurant img {
    width: 500px;
    border-radius: 10px;
}

.lahore-restaurant h3 {
    font-size: 32px;
}

.restaurant-para {
    font-size: 15px;
    color: #ffffffb3;
    margin-top: 30px;
}
/* restaurant section edned  */
/* franchise section started  */
.franchises-section {
    margin-top: 80px;
}

.franchise-heading {
    text-align: center;
}

.franchises-abt {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.franchises-abt img {
    border-radius: 10px;
}

.fran-abt-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}
.direction-btn {
    background-color: transparent;
    color: white;
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 14px;
    width: 170px;
}
small{
    color: red;
    font-size: 16px;
    font-family: apercu;
    letter-spacing: 0.43rem;
    font-weight: 200;
    font-style: normal;
}
.franchises-container {
    margin-top: 100px;
}

.franchises-container h1 {
    text-align: center;
}

.franchise-locs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.franchise {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.franchise p {
    color: #ffffffb3;
    font-size: 12px;
    font-family: apercu;
}

.franchise small {
    font-size: 12px;
}

.franchise-locs h2 {
    font-family: apercu;
    font-size: 24px;
}

.smaller {
    font-size: 24px;
}

.angled {
    rotate: 330deg;
}

/* franchise section ended  */

/* village section  */
.village-franchise {
    margin: 80px 0;
}

.promo-heading {
    text-align: center;
}

.promo-info {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.promo-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.promo-text p {
    color: #ffffffb3;
}



.green-icon {
    color: #28a745;
}

/* footer starter  */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    font-size: 16px;
    font-family: apercu;
    gap: 20px;
}

.footer-list a {
    text-decoration: none;
    color: #ffffff99;
}

footer p {
    color: #ffffff99;
}

footer li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #ffffff99;
}

footer p  {
    font-size: 15px;
}

footer h3 {
    font-size: 15px;
}

footer div {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer img {
    width: 145px;
}


.social-icons {
    display: inline-block;
    margin: 20px 0;
}

.social-icons span {
    background-color: red;
    padding: 12px 15px;
    border-radius: 50%;
    gap: 10px;
}

.fa-brands {
    font-size: 16px;
}


.copyright {
    margin: 20px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 150px;
}

.copyright a {
    text-decoration: none;
    color: #ffffff;
}
/* footer ended  */


@media(max-width: 800px){
    .menu-div{
        display: block;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
    }

    .nav-items :not(.order-btn){
        display: none;
    }

    .arrow-icon {
        color: red;
    }

    
    .order-btn {
        background-color: red;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 20px;
        font-size: 8px;
        font-family: inter;
    }
    .arrow-span {
        padding: 3px 5px;
        background-color: white;
        border-radius: 50%;
    }

}

@media(max-width: 640px) {
    .intro-div {
        padding: 0;
    }

    .lahore-restaurant img {
        width: 400px;
    }

    .lahore-restaurant  {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    .restaurant-para {
        text-align: center;
    }

    .franchises-section img  {
        width: 400px;
    }
    .promo-image {
        width: 300px;
    }

    .village-franchise {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .promo-text-div {
        width: 80%;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
       }
    
}